.input-group {
    margin-bottom: 10px;
    width: 100%;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

textarea {
    height: 100px;
    resize: none;
}
