.header {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.status-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-transform: capitalize; 
    transition: color 0.3s ease;
    margin-left: 25px;
}
